{% extends "core.html" %}
{% load static %}
{% block core %}
<body class="d-flex flex-column h-100">
    <header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white" href="{% url "tracker:dashboard" %}">Git Tracker</a>

    <ul class="navbar-nav flex-row d-md-none">
        <li class="nav-item text-nowrap">
        <button class="nav-link px-3 text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list"></i>
        </button>
        </li>
    </ul>

    <div id="navbarSearch" class="navbar-search w-100 collapse">
        <input class="form-control w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search">
    </div>
    </header>

    <div class="container-fluid h-100">
        <div class="row h-100">
            
            <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
            <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
                <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="sidebarMenuLabel">Git Tracker</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
                <ul class="nav flex-column">
                    {% for nav in navigation %}
                    <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2 {% if nav.active %}active{% endif %}" aria-current="page" href="{% url nav.url %}">
                        <i class="bi {{ nav.icon }}"></i>
                        {{ nav.name }}
                    </a>
                    </li>
                    {% endfor %}
                </ul>
                </div>
            </div>
            </div>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                  {% if alerts %}
                  <div class="messages  mt-2">
                      {% for alert in alerts %}
                      <div class="alert {{alert.class_name}} d-flex"> 
                        <i class="bi {{alert.icon}} me-2"></i> 
                        {{ alert }} {{ message.tags }}
                    </div>
                      {% endfor %}
                </div>
                  {% endif %}
            {% block content %}{% endblock content %}
            </main>
        </div>
    </div>
</body>
{% endblock core %}
