{% extends "core.html" %} {% load static %} {% block core_head %}

<style>

	html,
	body {
		height: 100%;
	}

	.form-signin {
		max-width: 330px;
		padding: 1rem;
	}



</style>
{% endblock core_head %}
 {% block core %}
<body class="d-flex align-items-center py-4 bg-body-tertiary">
	<main class="form-signin w-100 m-auto">
		<form method="POST">
			{% csrf_token %}
			<h1 class="h3 mb-3 fw-normal">Register now</h1>            
			<div class="form-floating mb-3">
				<input
					type="text"
					class="form-control {% if form.name.errors %}is-invalid{% endif %}"
					id="name"
                    placeholder="Name"
					name="name"
					{% if form.name.value %}
					value="{{ form.name.value }}"
					{% endif %}
				/>
				<label for="name">Name</label>
				{% for error in form.name.errors %}
				<div class="invalid-feedback">{{ error }}</div>
				{% endfor %}
			</div>
			<div class="form-floating mb-3">
				<input
					type="email"
					class="form-control {% if form.email.errors %}is-invalid{% endif %}"
					id="floatingInput"
					placeholder="name@example.com"
					name="email"
					{% if form.email.value %}
					value="{{ form.email.value }}"
					{% endif %}
				/>
				<label for="floatingInput">Email address</label>
				{% for error in form.email.errors %}
				<div class="invalid-feedback">{{ error }}</div>
				{% endfor %}
			</div>
			<div class="form-floating mb-3">
				<input
					type="password"
					class="form-control {% if form.password.errors %} is-invalid {% endif %}"
					id="password"
					placeholder="Password"
                    name="password"
				/>
				<label for="password">Password</label>
				{% for error in form.password.errors %}
				<div class="invalid-feedback">{{ error }}</div>
				{% endfor %}
			</div>
            <div class="form-floating mb-3">
				<input
					type="password"
					class="form-control {% if form.confirm_password.errors %} is-invalid {% endif %}"
					id="confirm_password"
					placeholder="Password"
                    name="confirm_password"
				/>
				<label for="confirm_password">Confirm Password</label>
				{% for error in form.password.errors %}
				<div class="invalid-feedback">{{ error }}</div>
				{% endfor %}
			</div>

			<button class="btn btn-primary w-100 py-2" type="submit">Register</button>
			<p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2024</p>
		</form>
	</main>
</body>
{% endblock core %}
